* {
    font-family: 'Niveau Grotesk Medium', 'Myriad Pro', sans-serif;
    box-sizing: border-box;
}

header {
    height: 140px;
    border-bottom: 2px solid #eee;
}

/*SEARCH BAR*/

#search-bar {
    float: right;
    padding: 0px 30px;
}

.search-input {
    margin: 0;
    width: 350px;
    padding: 15px 15px;
    font-family: 'Niveau Grotesk Medium', 'Myriad Pro', sans-serif;
    font-size: 20px;
    color:#666;
    background: #f7f7f7;
    border:2px solid #158bba; 
    border-right:0px;
    border-radius: 30px;
}

.search-btn {
    width: 40px;
    margin: 0;
    font-family: 'Niveau Grotesk Medium', 'Myriad Pro', sans-serif;
    cursor: pointer;
}

/* NAV MENU */

.col-4 {
    width: 25%;
    display: inline-block;
    padding: 20px 40px;
    text-align: center;
}

#menu-nav {
    background: #fff;
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
}

.row {
    content: "";
    clear: both;
    display: table;
}

p {
    font-size: 22px;
    font-weight: 600;
    color: #999;
}

/* FACEBOOK */

.col-1 {
    width: 22%;
    display: inline-block;
    text-align: left;
}

.col-9 {
    width: 75%;
    display: inline-block;
    text-align: left;
    float: right;
}

.facebook-post {
    background: #158bba;
    width: 100%;
    padding: 25px;
    height: 550px;
    margin: 10px 0px;
}

.facebook-icon {
    width: 100px;
}

h2 {
    color: white;
}

.post {
    background: white;
    height: 500px;
}

/* TWITTER */

.col-1 {
    width: 22%;
    display: inline-block;
    text-align: left;
}

.col-9 {
    width: 75%;
    display: inline-block;
    text-align: left;
    float: right;
}

.twitter-post {
    background: #158bba;
    width: 100%;
    padding: 25px;
    height: 550px;
    margin: 10px 0px;
}

.twitter-icon {
    width: 100px;
}

h2 {
    color: white;
}

/* ADVERTS */

.col-1 {
    width: 22%;
    display: inline-block;
    text-align: left;
}

.col-9 {
    width: 75%;
    display: inline-block;
    text-align: left;
    float: right;
}

.ad-post {
    background: #158bba;
    width: 100%;
    padding: 25px;
    height: 550px;
    margin: 10px 0px;
}

/* DROPDOWN MENU */

#posts-order {
    height: 100px;
    width: 300px;
}

.drop-btn {
    background-color: #fff;
    color: #333;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.posts-dropdown { 
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #f7f7f7;
    min-width: 150px;
    border-radius: 20px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}

